/***************
* BODY
***************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html,
body {
    background-color: black;
    color: #C8C8C8;
    scroll-behavior: smooth;
    font-family: DefaultFont;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 74px;
}

/*****************
* FONTS
*****************/

@font-face {
    font-family: DefaultFont;
    src: url(../fonts/TitilliumWeb-Light.ttf);
}


/*****************
* NAVIGATION
*****************/

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px 30px;
    background-color: #383636;
    justify-content: space-between;
}

nav a {
    font-size: 35px;
    align-items: center;
    padding: 6px 15px;
    color: #C8C8C8;
}

nav a:hover {
    color: #6A0DAD;
}

.pfp {
    width: 50px;
}

/****************
* GRID
****************/

.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 80px;
    padding-left: 30px;
    grid-column-gap: 50px;
  }
  
.about-item {
    background-color: #3D3C3C;
    padding: 10px;
    font-size: 28px;
    color: #C8C8C8 ;
    text-align: left;
    border: 5px solid #C4C4C4;
    border-radius: 30px;
    height: 400px;
  }

/******************
* SECTIONS
******************/

.landing {
    height: 100vh;
    background: #211f22;
}

.over-mij {
    height: 100vh;
    background: rgb(36, 37, 36);
}

.project-page {
    height: 100vh;
    background: #e4c124;
}

.my-stuff {
    height: 100vh;
    background: #b1066f;
}

/*****************
* TEXT
*****************/

.title {
    font-size: 100px;
    padding-top: 100px;
    padding-left: 50px;
}