/***************
* BODY
***************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html,
body {
    background-color: black;
    color: #C8C8C8;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
}


/*****************
* NAVIGATION
*****************/

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px 30px;
    background-color: #333232;
    justify-content: space-between;
}

nav a {
    font-size: 35px;
    align-items: center;
    padding: 6px 15px;
    color: #C8C8C8;
}

nav a:hover {
    color: #6A0DAD;
}

.pfp {
    width: 50px;
}

/****************
* GRID
****************/

.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 200px;
    padding-left: 30px;
    grid-column-gap: 50px;
  }
  
.about-item {
    background-color: #3D3C3C;
    padding: 20px;
    font-size: 30px;
    color: #C8C8C8 ;
    text-align: left;
    border: 5px solid #C4C4C4;
    border-radius: 30px;
    height: 350px;
  }


  
