body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.pfp {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    padding: 10px 10px 10px 10px;
    margin-top: 5px;
} 

header {
    width: 100%;
    margin: auto;
    background-color: #333232;
    position: fixed;
    
}

#left {
    width: 10%;
    min-width: 70px;
    float: left;
    background-color: #333232;
    min-height: 100px;
}

#right {
    width: 90%;
    float: left;
    background-color: #333232;
    min-height: 100px;
}

#main {
    clear: both;
    width: 100%;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.flex-container > a {
    padding-top: 30px;
    font-size: 30px;
    border-radius: 10px;
}

.button {
    color: #C8C8C8;
    margin-bottom: 25px;
}

.button:hover {
    cursor: pointer;
    color: blueviolet;
}

.color-body {
    background-color: #0000;
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 200px;
    padding-left: 30px;
    grid-column-gap: 50px;
  }
  
.grid-item {
    background-color: #3D3C3C;
    padding: 20px;
    font-size: 30px;
    color: #C8C8C8 ;
    text-align: left;
    border: 5px solid #C4C4C4;
    border-radius: 30px;
    height: 600px;
  }