/***************
* BODY
***************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html,
body {
    background-color: black;
    color: #C8C8C8;
    scroll-behavior: smooth;
    font-family: DefaultFont;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 74px;
}

/*****************
* FONTS
*****************/

@font-face {
    font-family: DefaultFont;
    src: url(../fonts/TitilliumWeb-Light.ttf);
}

@font-face {
    font-family: BoldFont;
    src: url(../fonts/TitilliumWeb-SemiBold.ttf);
}

/*****************
* NAVIGATION
*****************/

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px 30px;
    background-color: #383636;
    justify-content: space-between;
}

nav a {
    font-size: 35px;
    align-items: center;
    padding: 6px 15px;
    color: #C8C8C8;
}

nav a:hover {
    color: #6A0DAD;
}

.pfp {
    width: 50px;
}

/****************
* GRID
****************/

.grid-container {
    display: grid;
    grid-template-columns: 40%;
    padding-top: 80px;
    grid-column-gap: 50px;
    justify-content: center;
  }
  
.about-item {
    background-color: #3D3C3C;
    padding: 10px;
    font-size: 17px;
    color: #C8C8C8 ;
    text-align: left;
    border: 3px solid #C4C4C4;
    border-radius: 30px;
    height: 300px;
  }

.project-item1 {
    background-color: #3D3C3C;
    font-size: 15px;
    color: #C8C8C8 ;
    border: 3px solid #C4C4C4;
    border-radius: 30px;
  }

.project-item2 {
    background-color: #3D3C3C;
    color: #C8C8C8 ;
    text-align: left;
    border: 3px solid #C4C4C4;
    border-radius: 30px;
    height: 200px;
    margin-left: 30px;
    padding-top: 10px;
  }

.project-item3 {
    background-color: #3D3C3C;
    font-size: 15px;
    color: #C8C8C8 ;
    border: 3px solid #C4C4C4;
    border-radius: 30px;
    height: 200px;
  }

.grid-project {
    display: grid;
    grid-template-columns: 20% 30%;
    margin-top: 10px;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    justify-content: center;
  }

.test-container {
    display: grid;
    grid-template-columns: 40%;
    padding-top: 80px;
    justify-content: center;
    text-align: center;
  }
  
/******************
* SECTIONS
******************/

.landing {
    height: 100vh;
    background: #211f22;
}

.over-mij {
    height: 100vh;
    background: rgb(36, 36, 37);
}

.project-page {
    height: 1200px;
    background: #2b2a29;
}

.my-stuff {
    height: 100vh;
    background: #b1066f;
}

/*****************
* TEXT
*****************/

.title {
    font-size: 100px;
    padding-top: 100px;
    text-align: center;
}

.text1 {
    padding-top: 5px;
    text-align: center;
}